#record_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid rgb(44, 44, 54);
}

#record_table th,
#record_table td,
#dataTable th,
#dataTable td {
    border: 1px solid rgb(44, 44, 54);
    padding: 8px;
    text-align: left;
    width: 11%;
    word-wrap: break-word;
    text-align: center;
}

td {
    vertical-align: top;
}

th,
td,
input {
    padding: 5px;
}

input[type="submit"],
input[type="reset"] {
    width: 25%;
    padding: 5px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.container fieldset {
    flex: 1;
    flex-direction: column;
}

#totalsTable,
#dataTable {
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid rgb(44, 44, 54);
}